* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
}

body {
    background-color: #1C1C1C;
}

#back-to-home {
    position: relative;
    margin: 30px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0 0 1px #fff;
}

#back-to-home:hover {
    color: #1C1C1C;
}

#back-to-home::before {
    z-index: -1;
    content: "";
    width: 0;
    height: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s ease;
}

#back-to-home:hover::before {
    width: 100%;
}

.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
    box-shadow: 0 0 0 1px #fff;
    width: 50vh;
    height: fit-content;
    padding: 20px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;
    border-radius: 5px;
}