
:root {
    --blue: blue;
    --white: #fff;
    --green: green;
    --violet: violet;
    --red: red;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    scroll-behavior: smooth;
    background-color: #1C1C1C;
}

header {
    position: fixed;
    background-color: rgb(255, 255, 255, .1);
    border: none;
    border-radius: 0 0 5px 5px;
    color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 10px 5px 10px;
}

.name {
    cursor: pointer;
}

header a {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin: 10px 10px;
}

header a::before {
    z-index: 1;
    content: "";
    background-color: #fff;
    position: absolute;
    width: 0;
    height: 5px;
    border: none;
    border-radius: 10px;
    top: 100%;
    right: 50%;
    transition: 0.1s ease;
}

header a:hover::before {
    transform: translateX(50%);
    width: 100%;
}

#intro {
    transition: 0.2s ease;
}

#intro:hover {
    color: var(--red);
}

.desc {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding: 20px;
    position: absolute;
    transform: translate(-50%);
    top: 10%;
    left: 50%;
}

#donc {
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right-buttons,
.left-buttons {
    margin: 150px;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 300px;
    padding: 30px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-buttons {
    transform: translateX(80%);
}

.left-buttons {
    transform: translateX(-45%);
}

.right-buttons button,
.left-buttons button {
    position: relative;
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: transparent;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-buttons button::before,
.left-buttons button::before {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    border: none;
    border-radius: 3px;
    transition: 0.2s ease;
}

.right-buttons button:hover::before,
.left-buttons button:hover::before {
    /*background-color: blue;*/
    border: 1px solid #fff;
}

#discord:hover::before {
    background-color: var(--blue);
}

#facebook:hover {
    color: #1C1C1C;
    border-color: gray;
}

#facebook:hover::before {
    background-color: var(--white);
}

#github:hover::before {
    background-color: var(--green);
}

#instagram:hover::before {
    background-color: var(--violet);
}

.loobaid,
.ezzdine {
    z-index: 1;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 2px 2px 0 #fff;
}

.loobaid {
    transform: translate(-500px, 400px);
}

.ezzdine {
    transform: translate(-100px, 400px);
}

.loobaid img {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: -1;
}

.ezzdine img {
    z-index: -1;
    width: 100px;
    height: 100px;
}